### Główne założenia:
#### Projekt bazuje na informacjach udostępnionych na stronie https://openweathermap.org/api przez firmę **OpenWeather**.

Na potrzeby projektu, z uwzględnieniem aspektów finansowych, zdecydowano się nie łączyć bezpośrednio z API strony, lecz zakupiono dane historyczne z okresu: ***01.01.1971 do 31.12.2023*** dla trzech przykładowych lokalizacji:

-   **Bożańska**, woj. pomorskie, gmina Szemud, Polska
-   **Wałcz Drugi**, woj. zachodniopomorskie, gmina Wałcz, Polska
-   **Baden-Baden**, Baden-Württemberg, Niemcy

### Parametry danych pogodowych:

- **city_name** - Nazwa miasta
- **lat** - Geograficzne współrzędne lokalizacji (szerokość geograficzna)
- **lon** - Geograficzne współrzędne lokalizacji (długość geograficzna)
- **main**:
    - **main.temp** - Temperatura [Celsjusz]
    - **main.temp_min** - Minimalna temperatura w danym momencie. Jest to odchylenie od temperatury możliwej dla dużych miast i megalopolis geograficznie rozszerzonych (użyj tego parametru opcjonalnie) [Celsjusz].
    - **main.temp_max** - Maksymalna temperatura w danym momencie. Jest to odchylenie od temperatury możliwej dla dużych miast i megalopolis geograficznie rozszerzonych (użyj tego parametru opcjonalnie) [Celsjusz].
    - **main.feels_like** - Ten parametr temperatury uwzględnia ludzkie odczucie pogody [Celsjusz]
    - **main.pressure** - Ciśnienie atmosferyczne (na poziomie morza), [hPa]
    - **main.humidity** - Wilgotność, [%]
    - **main.dew_point** - Temperatura atmosferyczna (zmieniająca się zgodnie z ciśnieniem i wilgotnością), poniżej której krople wody zaczynają kondensować się i tworzy się rosa [Celsjusz]
- **wind**:
    - **wind.speed** - Prędkość wiatru [metr/sek]
    - **wind.deg** - Kierunek wiatru, [stopnie] (meteorologiczne)
    - **wind.gust** - Poryw wiatru [metr/sek]
- **clouds**:
    - **clouds.all** - Zachmurzenie, [%]
- **rain**:
    - **rain.1h** - Ilość opadów deszczu za ostatnią godzinę, [mm]
    - **rain.3h** - Ilość opadów deszczu za ostatnie 3 godziny, [mm]
- **snow**:
    - **snow.1h** - Ilość opadów śniegu za ostatnią godzinę, [mm] (w stanie ciekłym)
    - **snow.3h** - Ilość opadów śniegu za ostatnie 3 godziny, [mm] (w stanie ciekłym)
- **weather**:
    - **weather.id** - Identyfikator warunków pogodowych [-]
    - **weather.main** - Grupa parametrów pogodowych (Deszcz, Śnieg, Ekstremalne, itp.) [-]
    - **weather.description** - Opis warunków pogodowych w grupie. Więcej informacji znajdziesz tutaj [-]
    - **weather.icon** - Identyfikator ikony pogodowej [-]
- **visibility** - Średnia widoczność, metry. Maksymalna wartość widoczności to 10 km [m]
- **dt** - Czas obliczenia danych, unix, UTC
- **dt_iso** - Data i czas w formacie UTC
- **timezone** - Przesunięcie w sekundach względem UTC

In [1]:
# Import bibliotek
import pandas as pd
import os

<u>*_Uwaga:_*</u>

*Ten skrypt najpierw tworzy listę wszystkich plików CSV w danym folderze, a następnie ładuje każdy z nich do osobnej ramki danych. Dodatkowo, przykład pokazuje, jak można dodać nazwę miasta do każdego zestawu danych na podstawie nazwy pliku. Po przetworzeniu wszystkich plików, ramki danych są łączone w jedną dużą ramkę, którą można następnie zapisać lub dalej przetwarzać.*

In [2]:
# Ścieżka do folderu zawierającego pliki CSV
folder_path = '../2. Data/raw/'

# Lista plików CSV w folderze, filtrując tylko te, które mają rozszerzenie .csv
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Lista do przechowywania danych z każdego pliku
all_data = []

# Iteracja przez każdy plik w liście plików CSV
for file in csv_files:
    # Pełna ścieżka do pliku
    file_path = os.path.join(folder_path, file)
    
    # Wczytanie danych z pliku
    df = pd.read_csv(file_path)
    
    # Usunięcie rozszerzenia .csv z nazwy miasta i dodanie jako kolumna
    city_name = file.replace('.csv', '')
    df['city_name'] = city_name
    
    # Dodanie DataFrame do listy
    all_data.append(df)

# Połączenie wszystkich DataFrame w jedną
combined_data = pd.concat(all_data, ignore_index=True)

# Zapisanie połączonych danych do nowego pliku CSV z kompresją gzip
combined_data.to_csv('../2. Data/processed/combined_data.csv', index=False, compression='gzip')

In [3]:
# Wczytanie skompresowanego pliku CSV do DataFrame
df_weather = pd.read_csv("../2. Data/processed/combined_data.csv", compression='gzip')

In [4]:
# Wyświetlenie pierwszych pięciu wierszy danych z DataFrame df_weather
df_weather.head(5)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,3600,Baden_Baden,48.76564,8.228524,0.04,NaN,0.04,-5.39,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00 +0000 UTC,3600,Baden_Baden,48.76564,8.228524,-5.65,NaN,-6.25,-11.70,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00 +0000 UTC,3600,Baden_Baden,48.76564,8.228524,-6.31,NaN,-7.65,-12.34,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00 +0000 UTC,3600,Baden_Baden,48.76564,8.228524,-10.64,NaN,-12.58,-17.37,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00 +0000 UTC,3600,Baden_Baden,48.76564,8.228524,-10.35,NaN,-12.56,-16.87,...,NaN,NaN,NaN,NaN,NaN,100,804,Clouds,overcast clouds,04n

In [5]:
# Pobranie unikalnych nazw miast z kolumny "city_name" w DataFrame df_weather
df_weather["city_name"].unique()

array(['Baden_Baden', 'Bozanska', 'Walcz_Drugi'], dtype=object)

In [6]:
# Sprawdzenie ogólnych informacji na temat danych w DataFrame df_weather
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1203071 entries, 0 to 1203070
Data columns (total 28 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   dt                   1203071 non-null  int64
 1   dt_iso               1203071 non-null  object
 2   timezone             1203071 non-null  int64
 3   city_name            1203071 non-null  object
 4   lat                  1203071 non-null  float64
 5   lon                  1203071 non-null  float64
 6   temp                 1203071 non-null  float64
 7   visibility           559686 non-null   float64
 8   dew_point            1203071 non-null  float64
 9   feels_like           1203071 non-null  float64
 10  temp_min             1203071 non-null  float64
 11  temp_max             1203071 non-null  float64
 12  pressure             1203071 non-null  int64
 13  sea_level            0 non-null        float64
 14  grnd_level           0 non-null        float64
 15  humidity             1203071 non-null  int64
 16  wind_speed           1203071 non-null  float64
 17  wind_deg             1203071 non-null  int64
 18  wind_gust            39515 non-null    float64
 19  rain_1h              187503 non-null   float64
 20  rain_3h              0 non-null        float64
 21  snow_1h              36383 non-null    float64
 22  snow_3h              0 non-null        float64
 23  clouds_all           1203071 non-null  int64
 24  weather_id           1203071 non-null  int64
 25  weather_main         1203071 non-null  object
 26  weather_description  1203071 non-null  object
 27  weather_icon         1203071 non-null  object
dtypes: float64(16), int64(7), object(5)
memory usage: 257.0+ MB

In [7]:
# Obliczenie liczby brakujących danych dla każdej kolumny w DataFrame df_weather
missing_data = df_weather.isnull().sum()

# Wyświetlenie wyników
missing_data

dt                           0
dt_iso                       0
timezone                     0
city_name                    0
lat                          0
lon                          0
temp                         0
visibility              643385
dew_point                    0
feels_like                   0
temp_min                     0
temp_max                     0
pressure                     0
sea_level              1203071
grnd_level             1203071
humidity                     0
wind_speed                   0
wind_deg                     0
wind_gust              1163556
rain_1h                1015568
rain_3h                1203071
snow_1h                1166688
snow_3h                1203071
clouds_all                   0
weather_id                   0
weather_main                 0
weather_description          0
weather_icon                 0
dtype: int64

### Z przedstawionego zestawienia dla DataFrame df_weather wynika, że liczba brakujących danych w poszczególnych kolumnach jest następująca:

- **visibility**: Brakuje danych w 84,956 wierszach.
- **sea_level**: Wszystkie 406,897 danych są puste.
- **grnd_level**: Wszystkie 406,897 danych są puste.
- **wind_gust**: Brakuje danych w 380,497 wierszach.
- **rain_1h**: Brakuje danych w 354,089 wierszach.
- **rain_3h**: Wszystkie 406,897 danych są puste.
- **snow_1h**: Brakuje danych w 391,325 wierszach.
- **snow_3h**: Wszystkie 406,897 danych są puste.

Pozostałe kolumny mają pełne zestawienie danych bez braków.

Na tej podstawie można podjąć kilka działań w celu przygotowania zestawu danych do analizy:

- Kolumny **sea_level**, **grnd_level**, **rain_3h**, **snow_3h**: Ponieważ wszystkie dane w tych kolumnach są puste, najprawdopodobniej najlepszym rozwiązaniem będzie ich usunięcie, nie jest planowane ich wypełnienie danymi z innego źródła na tym etapie projektu.

- Kolumny z dużą ilością brakujących danych **wind_gust**, **rain_1h**, **snow_1h**: Jeżeli te dane są kluczowe dla analizy, można rozważyć ich uzupełnienie, na przykład przez interpolację, użycie średnich z innych kolumn, lub całkowite usunięcie wierszy, w których brak danych. Na tym etapie projektu została podjęta decyzja o usunięciu tych kolumn.

- Kolumna **visibility**: Możliwe, że brakujące dane można uzupełnić, jeśli mają one wpływ na przeprowadzaną analizę, lub można te wiersze usunąć, jeżeli nie są one kluczowe. Na tym etapie projektu została podjęta decyzja po uzupełnieniu brakujących danych. Do dyspozycji są następujące metody:

  - **Imputacja średnią**: Jeżeli brakujące dane są przypadkowe i nie mają wyraźnego wzorca, możliwym rozwiązaniem jest imputacja, czyli wypełnienie brakujących wartości średnią lub medianą z dostępnych danych dla visibility. W przypadku bardziej złożonych danych można zastosować modelowanie predykcyjne (na przykład regresję liniową) bazujące na innych zmiennych w zestawie danych, które mogą korelować z widocznością.

  - **Interpolacja**: Jeśli dane są szeregami czasowymi, interpolacja może być dobrą metodą na oszacowanie brakujących wartości. Możesz użyć liniowej interpolacji, która wypełni brakujące wartości na podstawie wartości sąsiadujących w czasie, lub zastosować bardziej zaawansowane metody interpolacji, jak interpolacja splajnowa.

  - **Uzupełnienie na podstawie grupowania**: Jeśli brakujące wartości visibility mogą być różne dla różnych warunków pogodowych lub innych zmiennych, możesz uzupełnić brakujące dane średnią lub medianą dla odpowiednich grup. Na przykład, jeśli widoczność jest zwykle niższa podczas opadów deszczu, możesz obliczyć średnią widoczność dla dni deszczowych i dni bez deszczu oddzielnie i użyć tych wartości do wypełnienia braków.

  - **Zastosowanie wartości z najbliższego sąsiedztwa (k-nearest neighbors - KNN)**: Metoda ta polega na znajdowaniu 'k' najbliższych sąsiadów danej obserwacji z brakującymi danymi i wypełnieniu braku na podstawie wartości widoczności tych sąsiadów.

  *Wniosek:*
  
  *- Na potrzeby naszego projektu użyto metody imputacji średniej.*

In [8]:
# Obliczenie średniej dla kolumny 'visibility'
mean_visibility = df_weather['visibility'].mean()

# Uzupełnienie brakujących wartości w kolumnie 'visibility' średnią
df_weather['visibility'].fillna(mean_visibility, inplace=True)

In [9]:
# Usunięcie kolumn z pustymi danymi
columns_to_drop = ['sea_level', 'grnd_level', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h']
df_weather.drop(columns=columns_to_drop, inplace=True)

In [10]:
#Ponowne sprawdzenie pustych wartosci
missing_data = df_weather.isnull().sum()
missing_data

dt                     0
dt_iso                 0
timezone               0
city_name              0
lat                    0
lon                    0
temp                   0
visibility             0
dew_point              0
feels_like             0
temp_min               0
temp_max               0
pressure               0
humidity               0
wind_speed             0
wind_deg               0
clouds_all             0
weather_id             0
weather_main           0
weather_description    0
weather_icon           0
dtype: int64

In [11]:
# Wygenerowanie podsumowania statystycznego dla DataFrame df_weather
df_weather.describe()

,dt,timezone,lat,lon,temp,visibility,dew_point,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
count,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06,1.203071e+06
mean,9.974352e+08,5.565113e+03,5.216861e+01,1.435460e+01,8.835101e+00,8.334118e+03,5.288130e+00,6.908520e+00,8.134368e+00,9.461117e+00,1.015569e+03,8.032772e+01,3.730818e+00,1.839869e+02,5.764809e+01,7.364974e+02
std,4.092496e+08,1.792412e+03,2.459909e+00,4.397806e+00,8.198271e+00,1.937173e+03,6.849121e+00,9.721335e+00,8.192291e+00,8.211828e+00,9.570091e+00,1.555454e+01,2.175492e+00,9.894613e+01,3.894005e+01,1.192258e+02
min,2.839968e+08,3.600000e+03,4.876564e+01,8.228524e+00,-2.764000e+01,2.000000e+00,-2.957000e+01,-3.301000e+01,-3.012000e+01,-2.549000e+01,9.330000e+02,1.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+02
25%,6.436908e+08,3.600000e+03,4.876564e+01,8.228524e+00,2.630000e+00,8.334118e+03,3.300000e-01,-6.700000e-01,1.920000e+00,3.150000e+00,1.010000e+03,7.200000e+01,2.100000e+00,1.030000e+02,2.000000e+01,7.010000e+02
50%,1.000202e+09,7.200000e+03,5.325704e+01,1.652120e+01,8.750000e+00,8.334118e+03,5.500000e+00,6.830000e+00,7.990000e+00,9.350000e+00,1.016000e+03,8.500000e+01,3.380000e+00,2.070000e+02,7.500000e+01,8.010000e+02
75%,1.351498e+09,7.200000e+03,5.447303e+01,1.830218e+01,1.483000e+01,9.999000e+03,1.070000e+01,1.442000e+01,1.411000e+01,1.545000e+01,1.022000e+03,9.300000e+01,5.000000e+00,2.600000e+02,9.800000e+01,8.030000e+02
max,1.704064e+09,7.200000e+03,5.447303e+01,1.830218e+01,3.854000e+01,1.000000e+04,2.583000e+01,4.113000e+01,3.772000e+01,3.899000e+01,1.051000e+03,1.000000e+02,3.400000e+01,3.600000e+02,1.000000e+02,8.040000e+02

In [12]:
# Usunięcie "+0000 UTC" z końca stringów w kolumnie 'dt_iso' i konwersja do formatu datetime
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'].str.replace(r' \+\d{4} UTC', '', regex=True))

In [13]:
# Wyświetlenie pierwszych pięciu wierszy DataFrame df_weather
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Baden_Baden,48.76564,8.228524,0.04,8334.117605,0.04,-5.39,...,3.02,989,100,5.98,297,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00,3600,Baden_Baden,48.76564,8.228524,-5.65,8334.117605,-6.25,-11.70,...,-2.39,995,95,4.61,311,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00,3600,Baden_Baden,48.76564,8.228524,-6.31,8334.117605,-7.65,-12.34,...,-5.04,998,89,4.37,311,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00,3600,Baden_Baden,48.76564,8.228524,-10.64,8334.117605,-12.58,-17.37,...,-9.54,1001,84,4.02,309,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00,3600,Baden_Baden,48.76564,8.228524,-10.35,8334.117605,-12.56,-16.87,...,-9.28,1002,82,3.87,312,100,804,Clouds,overcast clouds,04n

In [14]:
# Konwersja kolumny 'dt_iso' do formatu datetime bez informacji o strefie czasowej
df_weather['dt_iso'] = pd.to_datetime(df_weather['dt_iso'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

In [15]:
# Wyświetlenie pierwszych pięciu wierszy DataFrame df_weather
df_weather.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Baden_Baden,48.76564,8.228524,0.04,8334.117605,0.04,-5.39,...,3.02,989,100,5.98,297,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00,3600,Baden_Baden,48.76564,8.228524,-5.65,8334.117605,-6.25,-11.70,...,-2.39,995,95,4.61,311,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00,3600,Baden_Baden,48.76564,8.228524,-6.31,8334.117605,-7.65,-12.34,...,-5.04,998,89,4.37,311,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00,3600,Baden_Baden,48.76564,8.228524,-10.64,8334.117605,-12.58,-17.37,...,-9.54,1001,84,4.02,309,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00,3600,Baden_Baden,48.76564,8.228524,-10.35,8334.117605,-12.56,-16.87,...,-9.28,1002,82,3.87,312,100,804,Clouds,overcast clouds,04n

In [16]:
# Zamiana wartości 'Custom location' na 'Bozanska' w kolumnie 'city_name'
df_weather['city_name'] = df_weather['city_name'].replace('Custom location', 'Bozanska')

In [17]:
# Wyświetlenie pierwszych stu wierszy DataFrame df_weather
df_weather.head(100)

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00,3600,Baden_Baden,48.76564,8.228524,0.04,8334.117605,0.04,-5.39,...,3.02,989,100,5.98,297,100,804,Clouds,overcast clouds,04n
1,284000400,1979-01-01 01:00:00,3600,Baden_Baden,48.76564,8.228524,-5.65,8334.117605,-6.25,-11.70,...,-2.39,995,95,4.61,311,100,804,Clouds,overcast clouds,04n
2,284004000,1979-01-01 02:00:00,3600,Baden_Baden,48.76564,8.228524,-6.31,8334.117605,-7.65,-12.34,...,-5.04,998,89,4.37,311,100,804,Clouds,overcast clouds,04n
3,284007600,1979-01-01 03:00:00,3600,Baden_Baden,48.76564,8.228524,-10.64,8334.117605,-12.58,-17.37,...,-9.54,1001,84,4.02,309,100,804,Clouds,overcast clouds,04n
4,284011200,1979-01-01 04:00:00,3600,Baden_Baden,48.76564,8.228524,-10.35,8334.117605,-12.56,-16.87,...,-9.28,1002,82,3.87,312,100,804,Clouds,overcast clouds,04n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,284338800,1979-01-04 23:00:00,3600,Baden_Baden,48.76564,8.228524,-11.54,8334.117605,-12.96,-16.51,...,-10.60,1016,88,2.38,73,78,803,Clouds,broken clouds,04n
96,284342400,1979-01-05 00:00:00,3600,Baden_Baden,48.76564,8.228524,-11.33,8334.117605,-12.62,-16.74,...,-10.76,1017,89,2.71,80,81,803,Clouds,broken clouds,04n
97,284346000,1979-01-05 01:00:00,3600,Baden_Baden,48.76564,8.228524,-11.43,8334.117605,-12.72,-17.33,...,-10.80,1017,89,3.08,77,58,803,Clouds,broken clouds,04n
98,284349600,1979-01-05 02:00:00,3600,Baden_Baden,48.76564,8.228524,-11.56,8334.117605,-12.85,-17.73,...,-10.89,1018,89,3.29,70,79,803,Clouds,broken clouds,04n
99,284353200,1979-01-05 03:00:00,3600,Baden_Baden,48.76564,8.228524,-12.90,8334.117605,-14.06,-19.05,...,-12.14,1018,90,3.04,64,100,804,Clouds,overcast clouds,04n

### **UWAGA MOZE NA PREZENTACJE**
<u>*_Uwaga:_*</u>

Kod ten agreguje dane w kolumnie weather_main dla grupowanego zestawu danych i wybiera najczęściej występującą wartość (modę) dla tej kolumny. Funkcja mode() z pakietu pandas zwraca najczęściej występującą wartość w danym zbiorze danych. W kontekście tego kodu:

- x.mode()[0]: Zwraca pierwszą najczęściej występującą wartość z kolumny weather_main dla danego dnia i miasta. Ponieważ mode() może zwrócić kilka wartości (w przypadku, gdy więcej niż jeden wynik ma tę samą maksymalną liczbę wystąpień), indeks [0] gwarantuje, że zostanie wybrana tylko jedna z nich.

- if not x.mode().empty: Sprawdza, czy wynik funkcji mode() nie jest pusty. Funkcja mode() może zwrócić pusty wynik, jeśli stosowana jest na pustym zbiorze danych, co może się zdarzyć, gdy wszystkie dane dla danej grupy są NaN lub grupa jest pusta.

- else 'Unknown': Jeśli nie ma żadnej mody (czyli x.mode().empty jest prawdziwe), funkcja zwraca 'Unknown'. To zapewnia wartość domyślną, w przypadku gdy nie można określić typowej pogody dla danej grupy.

- Kod ten jest użyteczny w sytuacjach, gdy chcemy zredukować zmienność danych pogodowych do jednej reprezentatywnej wartości dla każdego dnia, co jest przydatne w analizach związanych z prognozowaniem energii czy badaniach nad wpływem warunków atmosferycznych na różne zjawiska.

In [18]:
# Przekształcenie kolumny 'dt_iso' na typ daty, zignorowanie czasu
df_weather['date'] = pd.to_datetime(df_weather['dt_iso']).dt.date

# Grupowanie danych po mieście i dacie
daily_weather = df_weather.groupby(['date','city_name']).agg({
    'lat': 'first',
    'lon': 'first',
    'temp': 'mean',
    'feels_like': 'mean',
    'temp_min': 'min',
    'temp_max': 'max',
    'pressure': 'mean',
    'humidity': 'mean',
    'wind_speed': 'mean',
    'clouds_all': 'mean',
    'weather_main': lambda x: x.mode()[0] if not x.mode().empty else 'Unknown'
}).reset_index()

# Funkcja adjust_weather służy do dostosowania wartości w kolumnie 'weather_main' na podstawie wartości w kolumnie 'clouds_all'.
# Głównym celem tej funkcji jest przypisanie bardziej ogólnych kategorii pogodowych, takich jak 'Cloudy' lub 'Clear', w zależności od stopnia zachmurzenia, które reprezentowane jest przez wartość w kolumnie 'clouds_all'.
def adjust_weather(row):
    if row['clouds_all'] >= 80: # Jeśli wartość w kolumnie 'clouds_all' jest większa lub równa 80, uznajemy, że jest to zachmurzone niebo, więc przypisujemy 'Cloudy'
        return 'Cloudy'
    elif row['clouds_all'] <= 20: # Jeśli wartość w kolumnie 'clouds_all' jest mniejsza lub równa 20, uznajemy, że jest to bezchmurne niebo, więc przypisujemy 'Clear'
        return 'Clear'
    else:
        return row['weather_main'] # W przeciwnym razie, gdy wartość w kolumnie 'clouds_all' znajduje się między 20 a 80, zwracamy aktualną wartość z kolumny 'weather_main'
    
# Zastosowanie funkcji adjust_weather dla każdego wiersza w kolumnie 'weather_main'
daily_weather['weather_main'] = daily_weather.apply(adjust_weather, axis=1)

In [19]:
# Wyświetlenie pierwszych pięciu wierszy DataFrame df_weather
daily_weather.head()

,date,city_name,lat,lon,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,clouds_all,weather_main
0,1979-01-01,Baden_Baden,48.765640,8.228524,-10.442083,-16.532917,-16.18,3.02,1013.666667,81.916667,3.681667,84.500000,Cloudy
1,1979-01-01,Bozanska,54.473028,18.302179,-14.100000,-20.617500,-19.14,-9.46,1002.416667,82.000000,6.157917,100.000000,Cloudy
2,1979-01-01,Walcz_Drugi,53.257039,16.521203,-16.437083,-23.322500,-21.26,-9.57,1003.708333,82.416667,3.682083,94.791667,Cloudy
3,1979-01-02,Baden_Baden,48.765640,8.228524,-8.856667,-14.874167,-15.82,-3.96,1024.250000,84.208333,4.524583,71.708333,Snow
4,1979-01-02,Bozanska,54.473028,18.302179,-9.037917,-15.179167,-14.14,-7.40,1004.791667,85.375000,4.449583,99.541667,Cloudy

In [20]:
# Wyświetlenie unikalnych wartości w kolumnie 'weather_main' DataFrame daily_weather
daily_weather["weather_main"].unique()

array(['Cloudy', 'Snow', 'Clouds', 'Mist', 'Haze', 'Clear', 'Rain', 'Fog',
       'Drizzle'], dtype=object)

In [21]:
# Wyświetlenie pierwszych pięciu wierszy DataFrame daily_weather, gdzie wartość w kolumnie 'weather_main' wynosi 'Mist'
daily_weather[daily_weather["weather_main"]=="Mist"].head()

,date,city_name,lat,lon,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,clouds_all,weather_main
15,1979-01-06,Baden_Baden,48.76564,8.228524,-10.416667,-13.590833,-14.89,-6.90,1029.916667,79.583333,1.710000,47.958333,Mist
18,1979-01-07,Baden_Baden,48.76564,8.228524,-7.560833,-10.967917,-12.41,-2.81,1033.750000,82.708333,1.994167,51.791667,Mist
108,1979-02-06,Baden_Baden,48.76564,8.228524,0.250000,-3.896667,-2.95,2.79,1013.000000,87.916667,4.251667,78.875000,Mist
150,1979-02-20,Baden_Baden,48.76564,8.228524,1.667083,-1.587083,-1.54,4.79,1027.583333,87.208333,3.406250,71.875000,Mist
582,1979-07-14,Baden_Baden,48.76564,8.228524,18.260417,18.234167,13.47,23.71,1023.583333,80.125000,2.795833,62.166667,Mist

In [22]:
# Zapisanie DataFrame daily_weather do pliku CSV
daily_weather.to_csv('../2. Data/processed/combined_data_processed.csv')